{% extends 'base.html' %}



{% block title %}
<title>Delete Product</title>
{% endblock %}


{% block content %}
<div class="container mt-4 text-center">
<h5>Do you really want to delete this <span class="text-secondary"><u>"{{data.pname}}"</u></span> product by <span class="text-secondary"><u>{{data.artist.user.first_name}}</u></span>?</h5>
<br><br>
    <form method="post">
        {% csrf_token %}
        <a href="{% url 'delete_product' data.id %}"><button type="submit" class="btn btn-outline-danger text-dark col-6">YES</button></a><br><br>
    
        <a href="{% url 'home' %}"><button type="button" class="btn btn-outline-warning text-dark col-6">NO</button></a>
    </form>
</div>

{% endblock %}