{% extends 'base.html' %}

{% block title %}
    <title>ALL ARTIST</title>
{% endblock %}

{% block content %}


        <a class="text-black fs-6 me-4 container" href="{% url 'artist_url' %}"><button class="btn btn-outline-warning">Register As Artist</button></a>



<div class="bg-light" style="height: fit-content;">
<div class="container pt-5" >
    
<div class="container mt-5">
    <div class="row row-cols-md-3">
     {% for obj in data %}

        <div class="col mb-4">
        
        <div class="card bg-light" style="width: 22rem; height : 500px; border-color:azure;">
            <img src="{{obj.photo.url}}" class="card-img-top img-fluid" alt="Image" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover;">
            <div class="card-body">
                <a href="{% url 'artist_page' obj.id %}">Show Profile</a><br><br>
                <h5 class="card-title">{{obj.user.first_name}} {{obj.user.last_name}}</h5>
                <h6>Category : {{obj.category}}</h6>

                <h6>{{obj.created_at}}</h6>
                
                <p class="card-text">{{obj.bio|slice:':200'}}...</p>
                
                

                
            </div>
            </div>
        </div>


        {% endfor %}
     </div>
</div>
</div>
{% endblock %}






