{% extends 'base.html' %}


{% block title %}
  <title>Sign In</title>
  {% endblock %}

{% block content%}

<form method="post" class="container w-50 mt-4">
    {% csrf_token %}
        <div class="form-control me-4">
            <label id="nm">Username :</label>
            <input class="form-control w-100" for="nm" name="nm" type="text">
            <br><br>
            <label id="pw">Password :</label>
            <input class="form-control w-100" for="pw" name="pw" type="password">
            <br><br>
            <div class="text-center">
                <button class="btn btn-outline-success col-3 me-4">SUBMIT</button>
                <button type="reset" class="btn btn-outline-warning col-3">RESET</button>
            </div>
        </div>
</form>
{% endblock%}
